body {
  text-align: center;
  font-family: Arial;
  background-color: rgb(255, 255, 255);
}
#grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.card {
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 8px;
  border: 3px, solid, black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img {
  max-width: 80%;
  max-height: 80%;
  display: none;
}
.flipped img {
  display: block;
}
.matched {
  visibility: hidden;
}
